@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 20px; /* Adjust this value as per your preference */
}

/* Resize the X button of the Info window */
.gm-ui-hover-effect {
    transform: scale(0.5); /* Adjust scale as needed, e.g., 0.7 = 70% of original size */
  }



/* Fixes for infowindow UI of GoogleMaps API */
.gm-style-iw {
 /* Reduce padding inside InfoWindow */
    max-width: 150px; /* Set max width to avoid large content overflow */
  }

.gm-style-iw-ch {
    padding: 0;
    max-height: 20px;
    white-space: nowrap; /* Prevent text wrapping */
  }

.gm-style-iw-chr {
    max-height: 20px;
}